POSTGRES_DB=raizes_db
POSTGRES_USER=raizes_app
POSTGRES_PASSWORD=troque_esta_senha
POSTGRES_PORT=5433

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
API_PORT=8081
JPA_SHOW_SQL=false

JWT_SECRET=gere_uma_chave_aleatoria_de_32_bytes
JWT_EXPIRATION_MS=86400000

DATA_ENCRYPTION_KEY=gere_outra_chave_base64_de_32_bytes
DATA_FINGERPRINT_KEY=gere_uma_terceira_chave_base64_de_32_bytes