# Segredos e configurações locais
.env
.env.*
!.env.example

# Java e Maven
target/
*.class

# Node e TypeScript
node_modules/
dist/

# Arquivos compactados
*.zip

# IDEs
.idea/
.vscode/
*.iml

# Logs e arquivos temporários
*.log
*.tmp